.note-container {
	display: flex;
	justify-content: start;
	margin: 2px;
}

.note-container textarea {
	width: 500px;
	height: 100px;
}

.note-container button {
	margin-left: 2px;
	align-items: center;
}

.text-container textarea {
	width: 500px;
	height: 100px;
}
